body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #263238;
}

nav {
  padding: 0 2rem;
}

.content {
  min-height: calc(100vh - 64px - 332.1px);
  padding: 2rem 0;
}

.movieList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.buttonSearch {
  width: 3rem;
  height: 2.5rem;
  margin: 0 1rem;
  border-radius: 1rem;
  background-color: #263238;
  border: none;
}

.search {
  width: 100%;
  height: auto;
}

label:not(:first-child) {
  margin: 0 1rem;
}
